name: Build Android

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1

      - uses: dtolnay/rust-toolchain@stable

      - name: Add Android target
        run: rustup target add aarch64-linux-android armv7-linux-androideabi i686-linux-android x86_64-linux-android

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install NDK
        run: sdkmanager "ndk;29.0.14206865"

      - name: Install front deps
        run: bun install

      - name: Build Android
        run: bun tauri android build